<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MultiTracker{% endblock %}</title>

        <!-- Link to the compiled Tailwind CSS -->
        {% load static %}
        <link href="{% static 'css/output.css' %}" rel="stylesheet">

{% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        {% if request.path != '/' %}
            <nav>
                {% if user.is_authenticated %}
                    <a href="/">Home</a>
                    <a href="/dashboard/">Dashboard</a>
                    <a href="/logout/">Logout</a>
                {% else %}
                    <a href="/login/">Login</a>
                {% endif %}
            </nav>
        {% endif %}
    </header>    
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 MultiTracker</p>
    </footer>
</body>
</html>
